<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/universal.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/navigation.css" />
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="/scripts/form-scripts.js"></script>
</head>

<body>
    <div id="black-bar">
        <div id="left-container">
            <div class="wrapper">
                <img src="/images/logo.png" alt="NUIM Logo.">
            </div>

            <div class="wrapper">
                <h1 id="main-title">NUIM Chemical Database.</h1>
            </div>
        </div>

        <div id="links-container">
            {% set navigation = [
            ('/unit2/search', 'search', 'Search'),
            ('/unit2/enter/cas', 'enter', 'Enter'),
            ('/unit2/report', 'report', 'Report')
            ] -%}

            {% set active_page = active_page|default('search') -%}

            {% for href, id, caption in navigation %}
            <a href="{{href}}" class="links" {% if id == active_page %} id="active" {% endif %}>
                {{caption}}
            </a>
            {% endfor %}
        </div>

        <div id="right-container">
            <div class="wrapper">
                <form method="post">
                    <button id="small-button" type="submit" name="button" value="66">Log Out.</button>
                </form>
                <!-- <a href="#" onclick="dropdownmenu('log-acc')"> <button id="small-button"> Account </button> </a>

                <div id='log-acc'>
                    {% set menu = [
                    ('/unit2/account', 'account', 'Account'),
                    ('/unit2/logout', 'logout', 'Log Out')
                    ] -%}

                    {% for href, id, caption in menu %}
                    <a href="{{href}}" id="menu-items"> {{caption}} </a>
                    {% endfor %}
                </div> -->
            </div>
        </div>
    </div>

    <div id="content-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>