button.delete
{
	color:#ffffff;
	background-color:#ff0000;
	float:right;
	width:20px;
	height:20px;
}

div.button-position
{
	float:right;
	width:590px;
	position:absolute;
}

div.overlay
{
	width:590px;
	float:left;
}

div.query-container
{
	background-color:#e8e8e8;
	float:left;
	width:600px;
	margin-bottom:50px;
}

div.query-holder
{
	background:#ffffff;
	float:left;
	width:590px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

input.hidden
{
	display:none;
}